.sign-url {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  flex-direction: column;
  font-family: 'Inter', Arial, sans-serif;

  h3 {
    color: #000;
    text-align: center;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-size: 22px;
    font-style: normal;
    font-weight: 650;
    line-height: 28px;
    letter-spacing: -0.32px;
    margin: 5px;
  }

  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.16px;
    text-decoration: underline;
    color: #1a6cda;
    cursor: pointer;
  }
}
